In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [2]:
df = pd.read_json("res/NewsArticles.json")
df.head()

,Article,Preprocessed-Article,Vector
0,Musical treatment for Capra film\n\nThe classi...,Musical treatment Capra film The classic film ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,Spark heads world Booker list\n\nDame Muriel S...,Spark heads world Booker list Dame Muriel Spar...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
10,Artists' secret postcards on sale\n\nPostcards...,Artists secret postcards sale Postcards artis...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
100,Chepkemei joins Edinburgh line-up\n\nSusan Che...,Chepkemei joins Edinburgh lineup Susan Chepkem...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
101,El Guerrouj targets cross country\n\nDouble Ol...,El Guerrouj targets cross country Double Olymp...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [3]:
df_vector = df['Vector']
df_vector.head()

0      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
10     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
100    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
101    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: Vector, dtype: object

In [4]:
vectors = pd.DataFrame(list(df_vector))
vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,8858,8859,8860,8861,8862,8863,8864,8865,8866,8867
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
kmeans = KMeans(n_clusters=5, random_state=42)
kmeans.fit(vectors)
res1_sse = round(kmeans.inertia_, 2)
res1_sse

164.28

In [6]:
df['LabelWithoutPCA'] = kmeans.labels_
counts = pd.DataFrame(df['LabelWithoutPCA'].value_counts().reset_index())
res3_hival_clus = counts.iloc[0,0]
res4_hival_count = counts.iloc[0,1]
print(res3_hival_clus)
print(res4_hival_count)

3
66

In [7]:
for each,subset in df.groupby('LabelWithoutPCA'):
    print ("For Label :",each)
    print ( ' '.join(subset['Preprocessed-Article']).lower().split()[:50] )
res7 = 'stages'

For Label : 0
['tsunami', 'debt', 'deal', 'announced', 'chancellor', 'gordon', 'brown', 'said', 'hopes', 'announce', 'deal', 'suspend', 'debt', 'interest', 'repayments', 'tsunamihit', 'nations', 'later', 'friday', 'the', 'agreement', 'g8', 'group', 'wealthy', 'nations', 'would', 'save', 'affected', 'countries', '£3bn', 'pounds', 'year', 'said', 'the', 'deal', 'thought', 'hammered', 'thursday', 'night', 'japan', 'one', 'biggest', 'creditor', 'nations', 'finally', 'signed', 'mr', 'brown', 'first', 'proposed']
For Label : 1
['watchdog', 'probes', 'email', 'deletions', 'the', 'information', 'commissioner', 'says', 'urgently', 'asking', 'details', 'cabinet', 'office', 'orders', 'telling', 'staff', 'delete', 'emails', 'three', 'months', 'old', 'richard', 'thomas', 'totally', 'condemned', 'deletion', 'emails', 'prevent', 'disclosure', 'freedom', 'information', 'laws', 'coming', 'force', '1', 'january', 'government', 'guidance', 'said', 'emails', 'deleted', 'served', 'current', 'purpose', 'mr', 'thomas', 'said', 'the', 'tories', 'lib']
For Label : 2
['chepkemei', 'joins', 'edinburgh', 'lineup', 'susan', 'chepkemei', 'decided', 'fit', 'enough', 'run', 'next', 'month', 'great', 'edinburgh', 'international', 'cross', 'country', 'the', 'kenyan', 'initially', 'unsure', 'would', 'recovered', 'gruelling', 'tussle', 'paula', 'radcliffe', 'new', 'york', 'marathon', 'time', 'compete', 'but', 'declared', 'task', 'joins', 'field', 'headed', 'world', 'cross', 'country', 'champion', 'benita', 'johnson', 'race', 'director', 'matthew', 'turnbull', 'said', 'susan']
For Label : 3
['artists', 'secret', 'postcards', 'sale', 'postcards', 'artists', 'including', 'damien', 'hirst', 'tracey', 'emin', 'sold', 'hours', 'opening', 'royal', 'academy', 'arts', 'annual', 'secrets', 'sale', 'the', 'identity', 'artist', 'remains', 'unknown', 'work', 'bought', 'signature', 'revealed', 'back', 'there', 'still', 'big', 'names', 'left', 'mario', 'testino', 'said', 'rca', 'spokeswoman', 'sue', 'bradburn', 'all', 'postcards', 'priced', '£35', 'the', 'sale', 'opened', '8am']
For Label : 4
['musical', 'treatment', 'capra', 'film', 'the', 'classic', 'film', 'it', 'a', 'wonderful', 'life', 'turned', 'musical', 'producer', 'controversial', 'hit', 'show', 'jerry', 'springer', 'the', 'opera', 'frank', 'capra', '1946', 'movie', 'starring', 'james', 'stewart', 'turned', '£7m', 'musical', 'producer', 'jon', 'thoday', 'he', 'working', 'steve', 'brown', 'wrote', 'awardwinning', 'musical', 'spend', 'spend', 'spend', 'a', 'spokeswoman', 'said', 'plans', 'early', 'stages']

In [8]:
pca = PCA(n_components=100)
pca.fit(vectors.transpose())
pca_vectors = pd.DataFrame(pca.components_).transpose()
pca_vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.059349,-0.036132,0.099588,0.007477,0.038534,0.032426,0.024278,0.062045,0.043943,-0.012974,...,-0.067754,-0.057293,-0.027326,-0.139654,0.067793,0.070176,0.029018,-0.105604,0.123431,0.148800
1,0.041891,0.010018,0.099871,0.051988,0.015556,-0.029177,-0.001510,-0.127855,-0.047301,0.004116,...,-0.185824,-0.013762,0.093833,-0.072184,0.027876,0.012709,-0.099038,-0.028270,0.051665,-0.119371
2,0.044235,-0.020467,0.038546,0.004490,0.017609,-0.032715,-0.016197,0.006115,0.016315,0.013962,...,0.052452,0.011259,-0.012103,-0.076883,-0.021625,-0.170900,0.040212,0.071852,0.106852,-0.207319
3,0.085109,0.124219,-0.029658,-0.010962,-0.066208,-0.139429,0.250445,0.040970,-0.020416,0.022864,...,-0.049706,0.025592,0.044685,-0.022415,0.130799,-0.092590,0.013477,0.121692,0.020976,0.029849
4,0.110672,0.158121,-0.036121,-0.011317,-0.121223,-0.054692,0.132496,0.009983,0.033726,-0.085898,...,0.084412,0.000737,0.087764,-0.081145,-0.055168,0.008255,-0.088213,-0.063098,-0.082579,0.009556

In [9]:
kmeans_pca = KMeans(n_clusters=5, random_state=42)
kmeans_pca.fit(pca_vectors)
res2_sse = round(kmeans_pca.inertia_, 2)
res2_sse

95.61

In [10]:
df['LabelWithPCA'] = kmeans_pca.labels_
counts_pca = pd.DataFrame(df['LabelWithPCA'].value_counts().reset_index())
res5_hival_clus = counts_pca.iloc[0,0]
res6_hival_count = counts_pca.iloc[0,1]
print(res5_hival_clus)
print(res6_hival_count)

2
156

In [20]:
for each,subset in df.groupby('LabelWithPCA'):
    print ("For Label :",each)
    words = ( ' '.join(subset['Preprocessed-Article']).lower().split()[:50] )
    print(words)
    if each==2:
        res8 = words[49]
res8
#res8 = 'instead'

For Label : 0
['peugeot', 'deal', 'boosts', 'mitsubishi', 'struggling', 'japanese', 'car', 'maker', 'mitsubishi', 'motors', 'struck', 'deal', 'supply', 'french', 'car', 'maker', 'peugeot', '30000', 'sports', 'utility', 'vehicles', 'suv', 'the', 'two', 'firms', 'signed', 'memorandum', 'understanding', 'say', 'expect', 'seal', 'final', 'agreement', 'spring', '2005', 'the', 'alliance', 'comes', 'badlyneeded', 'boost', 'lossmaking', 'mitsubishi', 'several', 'profit', 'warnings', 'poor', 'sales', 'the', 'suvs', 'built']
For Label : 1
['tsunami', 'debt', 'deal', 'announced', 'chancellor', 'gordon', 'brown', 'said', 'hopes', 'announce', 'deal', 'suspend', 'debt', 'interest', 'repayments', 'tsunamihit', 'nations', 'later', 'friday', 'the', 'agreement', 'g8', 'group', 'wealthy', 'nations', 'would', 'save', 'affected', 'countries', '£3bn', 'pounds', 'year', 'said', 'the', 'deal', 'thought', 'hammered', 'thursday', 'night', 'japan', 'one', 'biggest', 'creditor', 'nations', 'finally', 'signed', 'mr', 'brown', 'first', 'proposed']
For Label : 2
['musical', 'treatment', 'capra', 'film', 'the', 'classic', 'film', 'it', 'a', 'wonderful', 'life', 'turned', 'musical', 'producer', 'controversial', 'hit', 'show', 'jerry', 'springer', 'the', 'opera', 'frank', 'capra', '1946', 'movie', 'starring', 'james', 'stewart', 'turned', '£7m', 'musical', 'producer', 'jon', 'thoday', 'he', 'working', 'steve', 'brown', 'wrote', 'awardwinning', 'musical', 'spend', 'spend', 'spend', 'a', 'spokeswoman', 'said', 'plans', 'early', 'stages']
For Label : 3
['el', 'guerrouj', 'targets', 'cross', 'country', 'double', 'olympic', 'champion', 'hicham', 'el', 'guerrouj', 'set', 'make', 'rare', 'appearance', 'world', 'cross', 'country', 'championships', 'france', 'but', 'moroccan', 'raced', 'cross', 'country', '15', 'years', 'decide', 'two', 'weeks', 'event', 'starts', '19', 'march', 'if', 'i', 'compete', 'i', 'feel', 'i', 'win', 'said', '30yearold', 'retiring', '2006', 'otherwise', 'much', 'point', 'going', 'el']
For Label : 4
['fears', 'raised', 'ballet', 'future', 'fewer', 'children', 'uk', 'following', 'dainty', 'footsteps', 'dancers', 'like', 'darcey', 'bussell', 'carving', 'potential', 'careers', 'ballet', 'dancers', 'new', 'research', 'royal', 'academy', 'dance', 'rad', 'found', 'fewer', 'children', 'age', '10', 'attending', 'ballet', 'classes', 'taking', 'exams', 'discipline', 'the', 'organisation', 'blames', 'growing', 'popularity', 'computer', 'games', 'changes', 'lifestyle', 'and', 'fears', 'trend', 'reversed', 'could']

'stages'

In [12]:
#result = [res1_sse, res2_sse, res3_hival_clus, res4_hival_count, res5_hival_clus, res6_hival_count, res7, res8]
#result = pd.DataFrame(result)

In [13]:
#result.to_csv("output/output.csv", header=False, index=False)